*{
           margin: 0;
           padding: 0;
           box-sizing: border-box; 
        }
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
        }
.container{
            width: 40vw;
            height: 30vh;
            background-color: #D3D3D3;
            border: 2px solid black;
            border-radius: 5vmin;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2vmin;
        }
        .green{
            width: 12vw;
            height: 19vh;
            border-radius: 50%;
            border: none;
            background-color: green;
        }
        .yellow{
            width: 12vw;
            height: 19vh;
            border-radius: 50%;
            border: none;
            background-color: yellow;

        }
        .red{
            width: 12vw;
            height: 19vh;
            border-radius: 50%;
            border: none;
            background-color: red;
        }